# Bower dependencies
client/vendor

# Built application, report and coverage
client/target

# Generated configuration module
client/app/config

# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git-
node_modules
client/node

# Debug log from npm
npm-debug.log

# Generated Artifacts #
target
bin
*.class
.sass-cache
# Package Files #
*.jar
*.war
*.ear
# IDEA files/directories #

.idea/
quickstart-ts/node_modules/
quickstart/node_modules/
data-input/node_modules
display-data/node_modules
router/node_modules
attribute-directive/node_modules

*.ipr
*.iws
*.iml

# IntelliJ #
out/
# Others #
*.roo
*.tmp
*.zip
*.DS_Store
*.map
*.js